<head>
    <link rel='stylesheet' type='text/css' href='/stylesheet/header.css'>
</head>

<body>

    <div class='all-left_right_margin'>
        <div class='tit'>
            EI09
        </div>
    <div class='navigator'>

        <ul>
            <li>
                <a href=''>Post</a>
            </li>
            <li>
                Button
            </li>
            <li>
                Button
            </li>

            <li>
                Button
            </li>

            <li>
                Button
            </li>

        </ul>
        <ul class='nav_right'>
            <li>Sign up</li>
            <li>Login</li>
        </ul>
    </div>


</body>
