<!DOCTYPE html>
<html>
<head>
    <title>EI09</title>
    <link rel='stylesheet' type='text/css' href='/stylesheet/index.css'>
</head>

<body>
    <% include ./header %>
    <div class='container_box'>
        <ul>
            <li>
                <div class='container'>

                </div>
            </li>
            <li>
                <div class='container'>

                </div>
            </li>
            <li>
                <div class='container'>

                </div>
            </li>
            <li>
                <div class='container'>

                </div>
            </li>                
        </ul>
        <ul>
            <li>
                <div class='container'>

                </div>
            </li>
            <li>
                <div class='container'>

                </div>
            </li>
            <li>
                <div class='container'>

                </div>
            </li>
            <li>
                <div class='container'>

                </div>
            </li>                
        </ul>
        <ul>
            <li>
                <div class='container'>

                </div>
            </li>
            <li>
                <div class='container'>

                </div>
            </li>
            <li>
                <div class='container'>

                </div>
            </li>
            <li>
                <div class='container'>

                </div>
            </li>                
        </ul>
    </div>


</body>
</html>














